<form #form="ngForm" (ngSubmit)="submitForm(form)">
<label >
    Nome:
    <!-- o campo desse jeito eu não consigo fazer as validações se existe valor ou não-->
    <!-- <input type="text" name="Nome"  ngModel required> -->

    <!-- Com validação -->
    <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>
    <span *ngIf="!nome.valid && (nome.touched && nome.dirty)">
         Invalid
    </span>
</label>
<br>
<br>

<!-- diretiva para verificar se existe o valor válido.
{{nome.valid}}
{{nome.touched}}
{{nome.dirty}}
-->
<!--Para verificar o Formulário todo-->
<!-- {{form.valid}} -->

<label >
    Feminino:
    <input type="radio" name="sexo" value="feminino" ngModel>
</label>
<br>
<br>

<label >
    Masculino:
    <input type="radio" name="sexo" value="masculino"  ngModel>
</label>
<br>
<br>

<label >
    Outros:
    <input type="radio" name="sexo"  value="outros" ngModel>
</label>
<br>
<br>


<label >
    C#:
    <input type="checkbox" name="c#"  ngModel>
</label>
<br>
<br>

<label >
    Vue:
    <input type="checkbox" name="vue"  ngModel>
</label>
<br>
<br>

<label >
    Angular:
    <input type="checkbox" name="Angular" ngModel>
</label>
<br>
<br>

<!--
<select name="comidas" ngModel>
    <option value="">Selecione a comida</option>
    <option value="x-salada">X-Salada</option>
</select>

-->

<select name="comidas" ngModel>
    <option value="">Selecione um alimento</option>
    <option *ngFor="let item of listComida" [value]="item.id"> {{item.comida}}</option>
</select>
<br/>
<button [disabled]="form.invalid">Enviar dados</button>
</form>


{{ form.value | json}}
